main {
  justify-content: center;
}

main button {
  border: none;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #5f7eff;
  border-radius: 4px;
  color: white;
  font-size: 4rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

main button:hover {
  background-color: #4a64d8;
}

main button:hover {
  background-color: #4a64d8;
}
