/* Set the layout and center the form */
#edit-profile {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#edit-profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  width: 100%;
  height: auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

/* Make labels larger */
label {
  font-size: 6rem; /* Adjust label size */
  color: #ffffff; /* Make the label color a bit darker */
}

/* Input fields styling */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 4rem;
  font-size: 6rem;
  border-radius: 10px;
  box-sizing: border-box;
}

/* Submit button styling */
button[type="submit"] {
  display: flex;
  width: auto;
  margin-top: 4rem;
  padding: 4rem;
  font-size: 6rem;
  color: white;
  background-color: #19a838;
  border: none;
  border-radius: 4rem;
  cursor: pointer;
}
