main {
  gap: 8px;
}

#data-header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 4rem;
  border-bottom: 1px solid white;
}

#data-header div {
  text-align: center;
  padding: 4px 8px;
}

#stock {
  flex: 2;
}

#sentiment,
#price {
  flex: 1;
}

#data-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 8px;
  border-radius: 10px;
}

.stock {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 8px;
  padding: 8px 0;
  border-radius: 10px;
  border: 1px solid white;
}

.data-row {
  display: flex;
  background-color: #ffffff;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.stock,
.sentiment,
.price {
  padding: 8px;
  gap: 0;
}

.stock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 2;
  color: #000000;
}

.stock h2 {
  text-align: left;
  font-size: 6rem;
}

.stock h3 {
  text-align: left;
  font-size: 3rem;
}

.sentiment,
.price {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.sentiment-circle {
  position: relative;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sentiment-circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(#19a838 calc(var(--value) * 100%), transparent 0%);
  mask: radial-gradient(
    closest-side,
    transparent 5rem,
    black 1px,
    black
  ); /* Creates the line effect */
}

.sentiment-value {
  color: #000000;
  font-size: 3rem;
}

.price {
  color: #cb1b1b;
  font-size: 4rem;
}
