section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: auto;
  gap: 8px;
  padding: 16px;
  border: 1px solid white;
  border-radius: 10px;
}

h2 {
  font-size: 6rem;
}

.bg-black {
  background-color: #000000;
}

.red {
  color: #cb1b1b;
}

.bg-red {
  background-color: #cb1b1b;
}

.green {
  color: #19a838;
}

.bg-green {
  background-color: #19a838;
}

#profile {
  align-items: center;
  gap: 8px;
  padding: 16px;
  border: none;
}

#profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden; /* Ensures the image doesn't overflow the circle */
  background-color: #d9d9d9; /* Default background */
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-picture img {
  width: 100%; /* Ensures the image takes up the full width */
  height: 100%; /* Ensures the image takes up the full height */
  object-fit: cover; /* Ensures the image covers the entire container without distortion */
}

#profile h2 {
  text-transform: uppercase;
}

#profile-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 20px;
  background-color: #d0cd94;
  font-size: 4rem;
}

#wallet-balance-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 8px;
  font-size: 12rem;
}

#wallet-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 8px;
  gap: 8px;
}

#wallet-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: auto;
  padding: 8px;
  font-size: 6rem;
  border-radius: 10px;
  color: white;
}

#portfolio {
  height: 800px;
}

#modal {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

#modal-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 4;
}

#modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  border-radius: 10px;
  background-color: #ffffff;
  overflow: hidden;
  z-index: 6;
  margin: 0 16px;
}

@media (min-width: 769px) {
  #modal-content {
    width: 361px;
    margin: 0;
  }
}

#modal-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 8px;
  font-size: 6rem;
}

#modal-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 8px;
}

#amount-input {
  width: 100%;
  height: 56px;
  font-size: 12rem;
  text-align: center;
  border-radius: 10px;
}

#amount-input.green {
  color: #19a838;
  border: 1px solid #19a838;
}

#amount-input.red {
  color: #cb1b1b;
  border: 1px solid #cb1b1b;
}

#modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 8px;
}

#confirm-button {
  width: 100%;
  height: auto;
  padding: 8px;
  font-size: 6rem;
  border: none;
  border-radius: 10px;
  background-color: #ffffff;
}

#confirm-button.green {
  color: #19a838;
  box-shadow: 0 4px 4px #19a838;
}

#confirm-button.red {
  color: #cb1b1b;
  box-shadow: 0 4px 4px #cb1b1b;
}
